.container {
  min-height: 100vh;
  background-color: lightgrey;
}

.main {
  padding: 4rem 10rem;
  transition: padding 1s ease 0s;
}

@mixin paddingSet($V) {
  padding: 4rem $V;
}

@media only screen and (max-width: 600px) {
  .main {
    @include paddingSet(5rem);
  }
}

@media only screen and (min-width: 768px) {
  .main {
    @include paddingSet(14rem);
  }
}

@media only screen and (min-width: 992px) {
  .main {
    @include paddingSet(18rem);
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    @include paddingSet(23rem);
  }
}
