.container {
  margin-top: 40px;

  .itemBox {
    display: flex;
    align-items: center;

    p {
      width: 100%;
      border-bottom: 1px solid gray;
      padding: 3px 0;

      &.text:hover {
        cursor: pointer;
        border-bottom-color: #fff;
        color: gray;
      }
    }

    button {
      cursor: pointer;
      min-width: max-content;
      margin-left: 8px;
      padding: 10px;
      border: 0;
      background-color: rgb(212, 101, 101);
      color: #fff;

      &.disabledButton {
        background-color: rgb(67, 70, 70);
      }
    }
  }
}
